body,
html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700; 
}
svg {
  display: block;
  margin: auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  vertical-align: top;
  overflow: hidden;
}

#chart {
    height:100%;
    width:100%; }

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.tooltip {
    color: #222;
    background-color: #fff;

    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border: 1px solid #666;
    opacity: 0.9;
    position: absolute;
}

.section-padding{
    padding: 80px 0px;
}

.topnav {
    font-size: 14px; 
    background-color: white;
}

.body_text {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-bottom: 0px;
    text-align: left;
    color: #f8f8f8;
    background: linear-gradient( rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.5) ), url(../assets/city8.jpeg) no-repeat 0px 0px;
    background-size: cover;

    height: 90vh;
}

.intro-message {
    line-height: 40px;
    vertical-align: center;
    padding-top: 23vh;
    padding-bottom: 20%;
    padding-left: 8%;
    display: inline-block
}

.intro-message > h1 {
    margin: 0;
    font-size: 4em;
    letter-spacing: 4px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 60px
}

.intro-message > h3 {
    margin-top: 30px;
    font-size: 1.07em;
    letter-spacing: 3px;
    color: #EEE;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

.intro-message .btn {
    margin-top: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
    color: #404040;
    font-size: 0.9em;
    background: #ffffff;
    padding: 8px 38px 8px 38px;
}

.intro-message .btn:hover {
  background: #dbdbdb;
  text-decoration: none;
}


footer {
    padding: 50px 0;
    background-color: #ffffff;
}


.bg-gray {
    background-color: #f0f0f0;
}

.bg-white {
    background-color: #ffffff;
}

.bg-dark-gray {
    background-color: #212121;
    color: #b5b5b5;
}

.section-title h6 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-title h3 {

    margin-top: 10px;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}
.section-title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bolder;
  }

.ser-box{
    background-color: #ffffff;
    border: 1px solid rgba(238, 238, 238, 0.65);
    text-align: center;
    padding: 35px 25px 20px;
    margin-top: 30px;
    border-radius: 2px;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.ser-box i {
    font-size: 42px;
    color: #000000;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ser-box:hover i, .ser-box:hover h5{
    color: #2098d1 !important;
}
.ser-box:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ser-box h5 {
    color: #343434;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.ser-box p {
    color: #343434;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 200;
}